.newsletter {
  width: 65%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 140px;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  margin: auto;
  margin-bottom: 150px;
  gap: 30px;
}

.newsletter h1 {
  font-size: 55px;
  font-weight: 600px;
  color: #454545;
}
.newsletter p {
  color: #454545;
  font-size: 20px;
}

.newsletter div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 730px;
  height: 70px;
  border-radius: 80px;
  border: 1px solid #e3e3e3;
}

.newsletter input {
  width: 500px;
  margin-left: 30px;
  outline: none;
  border: none;
  font-size: 20px;
  color: #616161;
  font-family: poppiens;
}
.newsletter button {
  width: 210px;
  height: 70px;
  border-radius: 80px;
  color: white;
  background-color: black;
  font-size: 20px;
  cursor: pointer;
}
